:root {
  --font-family: "DM Sans", sans-serif;
  --font-family-secondary: "Montserrat", sans-serif;
  --heading-size: 36px;
  --button-text-size: 32px;
  --font-size-sm: 12px;
  --font-size: 16px;
  --font-size-xl: 36px;
  --footer-text-size: 18px;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --background-color: #ffffff;
  --seperator-color: #d9d9d9;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-900: #111827;
  --light-blue-50: #f0f9ff;
  --light-blue-200: #bae6fd;
  --light-blue-300: #7dd3fc;
  --light-blue-500: #0ea5e9;
  --blue-500: #3b82f6;
  --rose-700: #be123c;
  --black: #000000;
  --white: #ffffff;
  --red: #ff0000;
}
