@use "normalize.scss";
@use "_variables.scss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
}

a {
  color: var(--oz-black);
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

header {
  text-align: center;
  padding: 20px;
  h1 {
    font-size: var(--heading-size);
    font-weight: var(--font-bold);
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  text-align: center;
  padding: 20px;
  font-size: var(--footer-text-size);
  font-weight: var(--font-bold);

  .icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  .footer-link-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 48px;
  }

  .copyright {
    color: var(--gray-500, #6b7280);
  }
}

.form-error {
  color: var(--red);
  text-align: left;
}
