@use '_normalize.scss';
@use '_variables.scss';
@use '_grid.scss';
@use '_button.scss';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
}

a {
  color: var(--oz-black);
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

#root {
  width: 100%;
}

header {
  display: flex;
  text-align: center;
  padding: 40px 20px;
  .container {
    display: flex;
    div {
      flex: 1;
      text-align: center;
      h1 {
        font-size: var(--heading-size);
        font-weight: var(--font-bold);
      }

      &.search-wrapper {
        position: relative;
        input {
          width: 100%;
          border-radius: 6px;
          border: 2px solid var(--gray-300, #d1d5db);
          padding: 6px 10px;
        }
        svg {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }

      &.favourites-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        span {
          color: var(--rose-700, #be123c);
          font-size: var(--footer-text-size);
          font-weight: var(--font-regular);
          line-height: 24px;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  text-align: center;
  padding: 20px;
  font-size: var(--footer-text-size);
  font-weight: var(--font-bold);

  .icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  .footer-link-wrapper {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  .copyright {
    color: var(--gray-500, #6b7280);
  }
}

hr {
  margin: 32px 0;
  border: 0;
  background: var(--seperator-color);
  height: 2px;
}

.form-error {
  color: var(--red);
  text-align: left;
}

.badge {
  padding: 8px;
  position: absolute;
  top: 16px;
  border-radius: 12px;
  background: rgba(243, 244, 246, 0.5);
  backdrop-filter: blur(1px);
  color: var(--gray-900, #111827);
  font-size: var(--font-size-sm);
  font-weight: var(--font-bold);

  &.badge--left {
    left: 16px;
  }

  &.badge--right {
    right: 16px;
  }

  &.badge--rounded {
    border-radius: 50%;
  }

  &.badge--clickable {
    cursor: pointer;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;

  &.custom-dropdown {
    svg {
      margin: 0 0 0 4px;
    }
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--white);
    z-index: 999;
    min-width: 160px;
    padding: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    div {
      &:not(:last-child) {
        margin: 0 0 8px 0;
      }
    }
  }
}

.loader-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(108 122 137 / 90%);
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
