.login-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    border: 2px solid var(--gray-300);
    background-color: var(--oz-white);
    border-radius: 16px;
    padding: 32px;

    h2 {
      font-size: var(--button-text-size);
      font-weight: var(--font-regular);
      line-height: 24px;
    }

    div {
      width: 100%;
      input {
        background: var(--white);
        border: 1px solid var(--gray-300);
        padding: 12px;
      }
    }

    input,
    button {
      width: 100%;
      border-radius: 8px;
      box-sizing: border-box;
      height: 66px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 20px 12px;
      margin: 32px 0 0 0;
      background: var(--white);
      border: 1px solid var(--blue-500, #3b82f6);
      color: var(--blue-500, #3b82f6);
      font-size: var(--button-text-size);
      font-weight: var(--font-regular);
      line-height: 24px;
    }
  }
}
