.main-layout {
  margin: 0 0 60px 0;
  .movie-score {
    display: inline-flex;
    gap: 10px;
    font-size: var(--font-size-sm);
    img {
      width: 35px;
    }
  }

  .movie-date,
  .movie-category {
    color: var(--gray-400, #9ca3af);
    font-size: var(--font-size-sm);
    font-weight: var(--font-bold);
  }

  .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px 80px;
    max-width: 1440px;
    margin: 0 auto;

    .movie-item {
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 12px;
      flex: 1 1 calc(25% - 80px);
      max-width: calc(25% - 80px);

      .badge--heart {
        max-height: 36px;
        max-width: 36px;
        &:hover {
          img {
            filter: invert(1);
            transition: 0.5s all;
          }
        }
        &.badge--liked {
          img {
            filter: invert(28%) sepia(100%) saturate(7487%) hue-rotate(355deg)
              brightness(90%) contrast(110%);
          }
        }
      }

      .name {
        color: var(--gray-900, #111827);
        font-size: 18px;
        font-weight: var(--font-bold);
      }
    }
  }
}

@media (max-width: 1200px) {
  .main-layout {
    .movies-container {
      .movie-item {
        flex: 1 1 calc(33.33% - 60px);
        max-width: calc(33.33% - 60px);
      }
    }
  }
}

@media (max-width: 992px) {
  .main-layout {
    .movies-container {
      .movie-item {
        flex: 1 1 calc(50% - 50px);
        max-width: calc(50% - 50px);
      }
    }
  }
}

@media (max-width: 768px) {
  .main-layout {
    .movies-container {
      .movie-item {
        flex: 1 1 calc(100% - 40px);
        max-width: calc(100% - 40px);
      }
    }
  }
}

@media (max-width: 576px) {
  .main-layout {
    .movies-container {
      .movie-item {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }
}
