@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main-layout {
  margin: 0 0 60px 0;
  .movie-score {
    display: inline-flex;
    gap: 10px;
    font-size: var(--font-size-sm);
    img {
      width: 35px;
    }
  }

  .badge--heart {
    max-height: 36px;
    max-width: 36px;
    &:hover {
      img {
        filter: invert(1);
        transition: 0.5s all;
      }
    }
    &.badge--liked {
      img {
        filter: invert(28%) sepia(100%) saturate(7487%) hue-rotate(355deg) brightness(90%)
          contrast(110%);
      }
    }
  }

  .movie-date,
  .movie-category {
    color: var(--gray-400, #9ca3af);
    font-size: var(--font-size-sm);
    font-weight: var(--font-bold);
  }

  .page-header {
    display: flex;
    justify-content: center;
    .container {
      display: inline-flex;
      justify-content: space-between;

      .filter-wrapper {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
      }
    }
  }

  .grid-container {
    .movie-item {
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 12px;

      .name {
        color: var(--gray-900, #111827);
        font-size: 18px;
        font-weight: var(--font-bold);
      }
    }
  }

  .movie-detail {
    .image-wrapper {
      position: relative;
      margin: 20px 0 64px 0;
      img {
        height: auto;
        width: 100%;
      }
    }
    article {
      color: var(--black);
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-xl);
      font-weight: var(--font-medium);
      line-height: 40px;
    }
  }
}

@media (min-width: 992px) {
  .grid-container {
    .movie-item {
      max-width: 384px;
    }
  }
}
